:root {
  --col1: #149fc8;
  --col2: #9fc5e8;
  --col3: #1f184d;
  --col4: #0b5394;
  --col5: #fff;
}

body {
  background-color: var(--col2);
}

.jumbotron {
  width: 80%;
  margin: auto;
 background: rgb(174,221,238);
background: radial-gradient(circle, rgba(174,221,238,1) 0%, rgba(49,110,182,1) 100%);
border-radius: 0;
}

.one-line-profile {
  display: flex;
}

.display-4 {
  align-self: center;
  padding-right: 40px;
  color: var(--col5);
}

section {
  margin-bottom: 40px;
}

.title {
  border-right: 2px solid var(--col1);
}

.nav-item {
  margin-right: 50px;
}

nav {
  background: rgb(174,221,238);
  background: radial-gradient(circle, rgba(174,221,238,1) 0%, rgba(49,110,182,1) 100%);
  width: 80%;
  margin: auto;

}

.card {
  flex-direction: row;
  background-color: var(--col2);
  border: none;
  margin: 0;
  padding: 5px;
  border: 1px var(--col3) dashed;
}

.lead {
  color: #000;
}
nav li {
  color: white;
}
.linkedin-image:hover {
  width: 55px;
  box-shadow: 5px;box-shadow: 3px 3px grey;
}

